In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/naga-sk/DataScienceTraining-Assignments/main/naive_bayes/purchase.csv')

In [3]:
df.shape

(30, 4)

In [4]:
df.columns

Index(['Day', 'Discount', 'Free Delivery', 'Purchase'], dtype='object')

In [5]:
df.describe(include='all')

            Day Discount Free Delivery Purchase
count        30       30            30       30
unique        3        2             2        2
top     Holiday      Yes           Yes      Yes
freq         11       20            23       24

In [6]:
df.head()

       Day Discount Free Delivery Purchase
0  Holiday       No            No       No
1  Holiday       No            No       No
2  Holiday       No            No       No
3  Weekday       No            No       No
4  Weekday       No           Yes       No

In [7]:
#df['Day'].replace(['Holiday', 'Weekend','Weekday'],[0, 1,2], inplace=True)

In [8]:
#df['Discount'].replace(['Yes', 'No'],[1,0], inplace=True)

In [9]:
#df['Free Delivery'].replace(['Yes', 'No'],[1,0], inplace=True)

In [10]:
#df['Day'].astype(str)

In [11]:
#df['Discount'].astype(str)

In [12]:
#df['Free Delivery'].astype(str)

In [ ]:
df.dtypes

Day               int64
Discount          int64
Free Delivery     int64
Purchase         object
dtype: object

In [13]:
x = df.iloc[:,:-1]

In [14]:
lb_make = LabelEncoder()
x['Day'] = lb_make.fit_transform(x['Day'])
x['Discount'] = lb_make.fit_transform(x['Discount'])
x['Free Delivery'] = lb_make.fit_transform(x['Free Delivery'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
y = df.iloc[:,-1]

In [16]:
x.head(5)

   Day  Discount  Free Delivery
0    0         0              0
1    0         0              0
2    0         0              0
3    1         0              0
4    1         0              1

In [17]:
y.head(5)

0    No
1    No
2    No
3    No
4    No
Name: Purchase, dtype: object

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3, random_state=11)

In [19]:
x_train.shape

(21, 3)

In [20]:
y_train.shape

(21,)

In [21]:
model = MultinomialNB()

In [22]:
model.fit(x_train,y_train)

MultinomialNB()

In [23]:
y_pred = model.predict(x_test)

In [24]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       0.00      0.00      0.00         1
         Yes       0.89      1.00      0.94         8

    accuracy                           0.89         9
   macro avg       0.44      0.50      0.47         9
weighted avg       0.79      0.89      0.84         9

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [27]:
accuracy_score(y_pred, y_test)

0.8888888888888888